@import url('/fonts/fonts.css');

:root {
    /* Colors */
    --b: #111;
    --w: #fff;
    --g-100: #eee;
    --g-200: #ddd;
    --g-300: #999;

    /* Fonts */
    --font-main: 'Inter', sans-serif;
    --font-mono: 'Geist Mono', monospace;
    --font-serif: 'Editorial New', serif;
}

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
    /* Flex and Grid */
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100dvh;

    /* Font and Color */
    font: 12px var(--font-main);
    color: var(--b);
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

a { text-decoration: none; color: var(--b); }

/* Sitewide Elements */
.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px;
    width: 100%;
}

.header-logo {
    font-family: var(--font-mono);
}

.header-logo-strong {
    font-family: var(--font-main);
}

.header-navigation ul {
    /* Flex and Grid */
    display: flex;
    gap: 32px;

    /* Font and Color */
    list-style: none;
}

.footer {
    background-color: var(--g-100);
    border-top: 1px solid var(--g-200);
}

.footer-navigation ul {
    /* Flex and Grid */
    display: flex;
    gap: 16px;

    /* Font and Color */
    list-style: none;
}

.footer-link {
    color: var(--g-300);
}

.footer-cc {
    font: 10px var(--font-mono);
    color: var(--g-300);
}

.selected, .underline:hover { text-decoration: underline; text-underline-offset: 4px; }

.click {
    /* Flex and Grid */
    display: inline-flex;
    justify-content: center;
    min-width: 96px;
    margin: 8px 0;
    padding: 8px;

    /* Font and Color */
    color: var(--b);
    border: 1px solid var(--b);
}

.click:hover { background-color: var(--b); color: var(--w); }

.text {
    padding: 0 0 16px 0;
}

/* index.html */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: calc(100dvh - 64px);
}

.hero-tagline {
    font: 10px var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
    color: var(--g-300);
}

.hero-tagline::after {
    /* Flex and Grid */
    display: inline-block;
    width: 6px;
    height: 12px;
    margin: 0 6px;
    vertical-align: -2px;
    animation: blink 1s step-end infinite;

    /* Font and Color */
    content: '';
    background-color: var(--g-300);
}

.hero-title {
    font: 500 50px var(--font-main);
    letter-spacing: -2px;
}

.hero-cta {
    display: flex;
    gap: 8px;
}

.scroll {
    /* Flex and Grind */
    display: inline-block;
    position: absolute;
    bottom: 32px;
    animation: bounce 2s ease-in-out infinite;

    /* Font and Color */
    font: 10px var(--font-mono);
    color: var(--g-300);
}

.mini {
    padding: 16px 0 32px 0;
}

.mini-title {
    /* Flex and Grind */
    padding: 0 0 16px 0;

    /* Font and Color */
    font: 10px var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--g-300);
}

.mini-text {
    padding: 0 0 16px 0;
}

.contact-title {
    /* Flex and Grid */
    margin: 4px 0;

    /* Font and Color */
    font: 10px var(--font-main);
    color: var(--g-300);
}

.contact-info {
    /* Flex and Grid */
    width: 100%;
    margin: 0 0 16px 0;
    outline: none;
    padding: 4px 0;

    /* Font and Color */
    font: inherit;
    color: var(--b);
    border: none;
    border-bottom: 1px solid var(--g-300);
}

.contact-message {
    min-height: 100px;
    resize: vertical;
}

.contact-info::placeholder {
    color: var(--g-300);
    transition: color 0.2s ease;
}

.contact-info:focus::placeholder {
    color: transparent;
}

/* Animations */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* STYLES FOR FORMATTING VISIBILITY */
/* section:nth-of-type(odd) {
    background-color: rgb(155, 255, 155)
}

section:nth-of-type(even) {
    background-color: rgb(155, 255, 0)
}

div:nth-of-type(odd) {
    background-color: rgb(255, 200, 0)
}

div:nth-of-type(even) {
    background-color:rgb(255, 255, 0)
}

h1:nth-of-type(odd) {
    background-color: rgb(255, 200, 255)
}

h1:nth-of-type(even) {
    background-color:rgb(255, 200, 200)
}

h2:nth-of-type(odd) {
    background-color: rgb(255, 200, 255)
}

h2:nth-of-type(even) {
    background-color:rgb(255, 200, 200)
} */
