/* Global Styling */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 8px;
}

.navigation ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    margin: 0;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 12px;
    margin: 8px 0px;
}

#footer {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.footer_main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.footer_main ul {
    display: flex;
    font-size: 15px;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_main a {
    color: black;
}

/* me.html */

.me_title {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

/* catalog.html */

.catalog_title {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

/* contact.html */

.contact_title {
    display: flex;
    flex-direction: column;
    margin: 16px 16px 0;
}

.contact_main {
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
}

.contact_main p {
    font-size: 12px;
    margin: 8px 0px;
}

.contact_main ul {
    display: flex;
    gap: 8px;
    margin: 8px 0;
    padding: 0;
    list-style: none;
}

.contact_main a {
    text-decoration: none;
    color: black;
}
