#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigation ul {
    display: flex;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    justify-content: center;
    list-style: none;
}

.navigation li {
    margin: 0 5px;
}

.navigation a {
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: #202020;
    text-decoration: none;
}

.contact_main {
    font-family: Inter, sans-serif;
    color: #202020;
}

.contact_main h2 {
    font-size: medium;
}

.contact_main p {
    font-size: small;
}

.contact_social_media a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    color: #202020;
    text-decoration: none;
}

.me_main {
    font-family: Inter, sans-serif;
    color: #202020;
}

.me_main h2 {
    font-size: medium;
}

.me_main p {
    font-size: small;
}

