/* Global Styling */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 8px;
}

.navigation ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.content {
    margin: 16px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 12px;
}

#footer {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.footer_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.footer_main ul {
    display: flex;
    font-size: 15px;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_main p {
    margin: 8px 0 0
}

.footer_main a {
    color: black;
}

/* me.html */

.me_title {
    display: flex;
    flex-direction: column;
}

/* catalog.html */

.catalog_title {
    display: flex;
    flex-direction: column;
}

/* contact.html */

.contact_title {
    display: flex;
    flex-direction: column;
}

.contact_main {
    display: flex;
    flex-direction: column;
}

.contact_main p {
    font-size: 12px;
}

.contact_main ul {
    display: flex;
    gap: 16px;
    padding: 0;
    list-style: none;
}

.contact_main a {
    text-decoration: none;
    color: black;
}

.contact_main form {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 8px 0;
}

.contact_main input, textarea {
    margin: 8px 0;
    padding: 6px;
    border: 1px solid;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    width: 800px
}

.contact_main input {
    width: 200px;
}

.contact_main button {
    margin: 4px 0;
    width: 100px;
}
